.drivers {
  margin-top: 64px;
  margin-bottom: 72px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11px;
  }

  &__title {
    font-family: Lato, sans-serif;
    font-size: 32px;
    font-weight: 800;
    margin: 0;

    @media (max-width: $bp-descktop) {
      font-weight: 600;
    }
  }

  &__all-link {
    font-family: Rubik, sans-serif;
    font-size: 16px;
    color: var(--color-brand);
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;

    @media (max-width: 1280px) {
      display: block;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;

    @media (max-width: $bp-descktop) {
      li:nth-child(5) {
        display: none;
      }
    }

    @media (max-width: 957px) {
      li:nth-child(4) {
        display: none;
      }
    }

    @media (max-width: 711px) {
      li:nth-child(4) {
        display: list-item;
      }
    }

    @media (max-width: $bp-mobile) {
      li:nth-child(3) {
        display: none;
      }
      li:nth-child(4) {
        display: none;
      }
    }

    &.drivers__list--expanded {
      li {
        display: list-item !important;
      }
    }
  }
}
