.footer {
  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__rights {
    color: #a8adb7;
    font-size: 15px;
    margin: 0;
  }

  &__socials-list {
    display: flex;
    gap: 24px;
  }

  &__socials-item img {
    width: 32px;
    height: 32px;
    opacity: 0.8;
    transition: 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  @media (max-width: 580px) {
    &__bottom-inner {
      flex-direction: column;
      align-items: center;
      gap: 12px;
      text-align: center;
    }

    &__rights {
      text-align: center;
    }

    &__socials-list {
      padding: 0;
      justify-content: center;
    }
  }
}
