.reviews {
  padding-top: 72px;
  padding-bottom: 40px;
  background-color: #f8f8fc;

  &__inner {
    display: flex;
    align-items: flex-start;
    gap: 32px;
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 422px;
  }

  &__title {
    font-family: Lato, sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 22px;
    white-space: nowrap;
  }

  &__accent {
    color: #26a4ff;
  }

  &__description {
    margin: 0 0 42px;
  }

  &__button {
    background-color: var(--color-brand);
    color: #fff;
    border-radius: 6px;
    border: none;
    width: 200px;
    height: 51px;
    font-weight: 700;
    cursor: pointer;
  }

  &__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2px;
    flex: 1 1 auto;
    max-width: 100%;
    margin-left: auto;
    overflow: hidden;
  }

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    flex-wrap: nowrap;
  }

  &__item {
    list-style: none;
    flex-shrink: 0;
  }

  &__nav {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  &__arrow {
    width: 32px;
    height: 32px;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__arrow::before {
    content: '';
    width: 12px;
    height: 12px;
    display: block;

    border-right: 2px solid var(--color-brand);
    border-bottom: 2px solid var(--color-brand);
    transform: rotate(135deg);
  }

  &__arrow--next::before {
    transform: rotate(-45deg);
  }

  &__pagination {
    display: flex !important;
    width: auto !important;
    padding: 0 !important;
    margin: 0 !important;
    gap: 12px;
    align-items: center;
  }
}

@media (max-width: $bp-descktop) {
  .reviews__item {
    width: 100%;
  }

  .reviews__inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .reviews__sidebar {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reviews__title {
    white-space: normal;
  }

  .reviews__description {
    max-width: 600px;
  }

  .reviews__button {
    margin-left: auto;
    margin-right: auto;
  }

  .reviews__slider {
    margin-top: 40px;
    max-width: 100%;
    margin-left: 0;
  }
}

@media (max-width: $bp-laptop) {
  .swiper-slide,
  .reviews__item {
    width: 100% !important;
    max-width: 100% !important;
  }

  .review-card {
    max-width: 100%;
  }

  .reviews__pagination {
    margin-top: 20px;
  }
}
