.swiper-slide {
  width: 352px !important;
  flex-shrink: 0;
}

.swiper-wrapper {
  display: flex;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #d6ddeb;
  opacity: 1;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background: var(--color-brand);
}
